body {
    overflow-x: hidden;
}

.oculto {
    display: none;
}

#seccionOculta h2 {
    text-decoration: underline;
}

#seccionOculta {
    width: fit-content;
    margin: auto;
}

div #biografiaContainer {
    width: 200px;
}

#seccionOculta.visible {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../imagenes/scroll.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 800px;
    width: 1200px; 
    height: 800px;
}

