body{
    overflow-x: hidden;
}
.oculto{
    display: none;
}
#seccionOculta h2{
    text-decoration: underline;
}
section #seccionOculta{
    padding: 150px 200px;
    width: fit-content;
}
section div #biografiaContainer{
    width: 200px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("../imagenes/scroll.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px 800px;
}
